<!-- app/views/acl/edit_contractor.html.erb -->
<div class="form-header">
  <h1>Edit Contractor</h1>
</div>

<div class="form-wrapper">
  <div class="acl-header">
    <p class="acl-subtitle"><%= @contractor.full_name %> &middot; <%= @contractor.email %></p>
    <%= link_to "Back to #{@group.group_name}", acl_path(@group), class: "btn" %>
  </div>

  <%= form_with model: @contractor, url: update_contractor_acl_path(@group, contractor_id: @contractor.id),
        method: :patch, local: true do |f| %>
    <%= render "contractor_fields", f: f %>

    <div class="form-actions">
      <%= f.submit "Save Changes", class: "btn approve" %>
      <%= link_to "Cancel", acl_path(@group), class: "btn" %>
    </div>
  <% end %>
</div>
