<div id="<%= dom_id probation_transfer_request %>">
  <p>
    <strong>Employee:</strong>
    <%= probation_transfer_request.employee_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= probation_transfer_request.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= probation_transfer_request.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= probation_transfer_request.phone %>
  </p>

  <p>
    <strong>Agency:</strong>
    <%= probation_transfer_request.agency %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= probation_transfer_request.division %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= probation_transfer_request.department %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= probation_transfer_request.unit %>
  </p>

  <p>
    <strong>Work location:</strong>
    <%= probation_transfer_request.work_location %>
  </p>

  <p>
    <strong>Current assignment date:</strong>
    <%= probation_transfer_request.current_assignment_date %>
  </p>

  <p>
    <strong>Desired transfer destination:</strong>
    <%= probation_transfer_request.desired_transfer_destination %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= probation_transfer_request.status %>
  </p>

</div>
