<!DOCTYPE html>
<html>
  <head>
    <title>FormsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/styles/choices.min.css" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

 <body>
  <div class="app-container">
    <%= render "shared/sidebar" %>

    <div class="content-container">
      <div id="main-content">
        <% if content_for?(:image) %>
          <%= yield :image %>
        <% else %>
          <%= yield %>
        <% end %>

        <!-- Login Button (over image) -->
       <% unless session[:user] %>
  <div data-controller="login-modal">
    <button class="login-button-over-image"
            data-login-modal-target="loginBtn">
      Login
    </button>

    <div id="login-modal"
         class="modal"
         data-login-modal-target="modal">
      <div class="modal-content">
        <span class="close" data-login-modal-target="closeBtn">&times;</span>
        <h2>Login</h2>
        <form data-login-modal-target="form">
          <input type="text" name="login" placeholder="Employee ID or Email" required>
          <button type="submit">Log in</button>
        </form>
      </div>
    </div>
  </div>
<% else %>
  <div class="profile-dropdown" data-controller="profile-dropdown">
  <button id="profile-toggle"
          class="profile-icon"
          data-action="click->profile-dropdown#toggle">
    <%= session[:user]["first_name"] %>
    <% if inbox_count > 0 %>
      <span class="inbox-badge"><%= inbox_count %></span>
    <% end %>
  </button>

  <div class="dropdown-content"
       data-profile-dropdown-target="dropdown">
    <%= link_to "Inbox Queue", parking_lot_submissions_path %>
    <%= button_to "Logout", logout_path, method: :delete, class: "logout-btn" %>
  </div>
</div>
<% end %>
      </div>
    </div>
</body> 
</html>
