<!DOCTYPE html>
<html>
  <head>
    <title>FormsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-container">
      <%= render "shared/sidebar" %>

      <div class="content-container">
        <div id="main-content">
          <% if content_for?(:image) %>
            <%= yield :image %>
          <% else %>
            <%= yield %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
